{% extends "base.html" %}
{% block title %} Apply Individual {% endblock %}
{% block body %}


<div class="container">
  <center><br>
    <h1 class="register-title">Individual Registration Form</h1>
  </center><br>
 
    <ol>
      <li>You cannot edit the information after submitting it. Hence, please validate all the entries before registering.</li>
      <li>School Name & Student Name will be printed on the certificate. So they must be mentioned as you would like them to appear on the certificate.</li>
      <li>The certificate, if applicable, will be sent to home address. Hence, make sure that the home address is correct.</li>
    </ol><br>
     {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>

                  </div>
                  {% endfor %}

    <form method="post" name="form4" action="" class="fm" onsubmit="return regEx()">
    <div class="row">

      {% csrf_token %}


      <div class="col-md-1"><ion-icon name="person-circle-outline"></ion-icon></div>
      <div class="group col-md-5">
        <input type="text" name="ref_code" id="ref_code" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="ref_code" class="form-label">REFERRAL CODE if any</label>
      </div>

      <div class="col-md-1"><ion-icon name="person-circle-outline"></ion-icon></div>
      <div class="group col-md-5">
        <input type="text" name="first_name" id="first_name" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="first_name" class="form-label">First Name *</label>
      </div>

      <div class="col-md-1"><ion-icon name="person-circle-outline"></ion-icon></div>
      <div class="group col-md-5">
          <input type="text" name="last_name" id="last_name" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="last_name" class="form-label">Last Name *</label>
      </div>

      <div class="col-md-1"><ion-icon name="person-circle-outline"></ion-icon></div>
      <div class="group col-md-5">
          <input type="text" name="username" id="username" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="username" class="form-label">Choose a Username*</label>
      </div>


      <div class="col-md-1"><ion-icon name="person-circle-outline"></ion-icon></div>
      <div class="group col-md-5">
          <input type="text" name="parent_name" id="parent_name" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="parent_name" class="form-label">Parent/Guardian name*</label>
      </div>




      <div class="col-md-1"><ion-icon name="calendar-outline"></ion-icon></div>
      <div class="group col-md-5">
        <input type="date"  name = "dob" id = "dob" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for = "dob" class="form-label form-label-profile">Date of Birth *</label>
      </div>

      <div class="col-md-1"><ion-icon name="mail"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
      <input type="text"  name = "email" id = "email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="form-label" for = "email" >E-mail *</label>
      </div>





      <div class="col-md-1"><ion-icon name="location"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
        <input type="text" name= "address" id = "address" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for= "address"  class="form-label">Flat /House No. / FLoor / Building *</label>
      </div>



      <div class="col-md-1"><ion-icon name="location"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
        <input type="text" name="street" id="street" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="form-label">Colony/ Street / Locality *</label>
      </div>



      <div class="col-md-1"><ion-icon name="location"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
        <input type="text" name ="state" id = "state" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="state"   class="form-label">Home City , pincode and state*</label>
      </div>





      <div class="col-md-1"><ion-icon name="pencil"></ion-icon></div>
      <div class="group col-md-5">
      {% load countries %}
      {% get_countries as countries %}
      <select name="country" id = "country" placeholder="Choose Your country" required>
      {% for country in countries %}
          <option value="{{ country.code }}">{{ country.name }}</option>
      {% endfor %}
      </select>


      </div>

      <div class="col-md-1"><ion-icon name="location"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
        <input  type="tel" name ="number" id="number"  required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for ="number" class="form-label">Mobile Number</label>
      </div>


      <div class="col-md-1"><ion-icon name="school"></ion-icon></div>
      <div class="group col-md-5">
        <input type="TEXT" name ="school" id = "school" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="school" class="form-label">School Name *</label>
      </div>

      <div class="col-md-1"><ion-icon name="location"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
        <input name = "school_address" id = "school_address" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for ="school_address" class="form-label">School address *</label>
      </div>

      <div class="col-md-1"><ion-icon name="location"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
        <input name = "school_state" id = "school_state"  type="TEXT" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for ="school_state" class="form-label">School State  *</label>
      </div>




      <div class="col-md-1"><ion-icon name="location"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
        <input name = "school_city" id = "school_city"  type="TEXT" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for ="school_city" class="form-label">School City  *</label>
      </div>

      <div class="col-md-1"><ion-icon name="location"></ion-icon></ion-icon></div>
      <div class="group col-md-5">
        <input name = "pincode" id = "pincode" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for ="pincode"class="form-label">Pincode *</label>
      </div>




      <div class="col-md-1"><ion-icon name="pencil"></ion-icon></div>
      <div class="group col-md-5">
        <select name="standard" id = "standard" class="select-css">
          <option value="Class 1">Class 1</option>
          <option value="Class 2">Class 2</option>
          <option value="Class 3">Class 3</option>
          <option value="Class 4">Class 4</option>
          <option value="Class 5">Class 5</option>
          <option value="Class 6">Class 6</option>
          <option value="Class 7">Class 7</option>
          <option value="Class 8">Class 8</option>
          <option value="Class 9">Class 9</option>
          <option value="Class 10">Class 10</option>
          <option value="Class 11">Class 11</option>
          <option value="Class 12">Class 12</option>

      </select>
      </div>
      <div class="col-md-6">
      </div>

      <div class="col-md-1"><ion-icon name="lock-closed"></ion-icon></div>
      <div class="group col-md-5">
        <input type="password" name = "password" id="password"  required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label  for="password" class="form-label">Password *</label>
      </div >

    </div>

    <div class="container instructions">
      <p><b>Important Instructions : </b></p>
      <ul style="list-style-type:disc">
        <li>International Olympiads is a Summer Olympiad. It focuses on assessing the student on the basis of what he/she has studied in the last 2 classes.</li>
        <li>International Olympiads conducts examinations in both online and pen/paper mode
          <ul style="list-style-type: circle;">
            <li>In case of online mode, the exam will be conducted online i.e. either on laptop or desktop. The students will have to take the exams from their residence or any other place where they have access to computer with good Internet connectivity (2 Mbps) and latest version of the browser (preferably Google Chrome). If schools have subscribed for online mode of exam, then they may decide to conduct these exams using their computer lab.</li>
            <li>In case of offline mode, the exam will be conducted in schools only in pen/paper mode.</li>
          </ul>
        </li>
        <li>In case of offline mode, the exam will be conducted in schools only in pen/paper mode.</li>
        <li>The online mode of examinations will be proctored. Hence, webcam is compulsory on every laptop/desktop.</li>
        <li>To know about the exam and answer key dates, please check the <a href="#">exam dates<a> page.</li>
        <li>There will be 1 Mock Test provided to all the students who can attempt this test online for a maximum of 3 times.</li>
        <li>Do read the <a href="#">Frequently Asked Questions (FAQs)</a> thoroughly.</li>
        <li>Kindly make payment only after you have read and accepted the above statements. Do note that the fees once paid is non-refundable. For any queries or suggestions, do write to us at <a href="">info@-------.com.</a></li>
      </ul>
      <br>
      <input type="checkbox" name="" id="checkbox">
      <span class="check-label"> I acknowledge that I have read all the above instructions</span>
      <br><br>
      <center>
      <button class="review-btn">REVIEW AND PAY</button>
      <input type="submit" name="submit" value="Submit">

      </form>s
      </center>
    </div>


</div>
{% endblock %}
{% block js %}
<script>

            function regEx()
            {
            function testName()
            {
                var name = document.form4.name.value;
                var letters = /^[a-zA-Z_ ]+$/;
                if (!name.match(letters)){
                alert("Name can have only letters.");
                return false;
                }
                return true;
            }
            function testZip()
            {
                var zip = document.form4.phonenum.value;


                if (!zip.match(/^\d{10}$/)){
                alert("A number has 10 integers.");
                return false;
                }
                return true;
            }
            return testName()&&testZip();

            }
            

</script>
{% endblock %}
