{% extends 'base.html' %}
{% block body %}
{% load static %}
                      <!-- hero -->
                      <div class="container-fluid p-0" >
                        <div class="site-content" style="height: 450px; background-image: url({% static 'Stock/awards_bg.jpg' %});">
                          <div class="d-flex justify-content-center" >
                            <div class="d-flex flex-column" style="padding-top: 120px">
                              <h1 class="site-title  justify-content-center" style="text-align: center;">Awards And Recognition
                              </h1>
                              <p class="site-desc"></p>

                            </div>

                          </div>
                        </div>
                      </div>

                      <div>
                        <section class="justify-content-center" >
                          <div>

                            <div class="container">
                              <div class="container">                              <!-- <p style="font-weight:bold;"> Awards And Recognition</p> -->
                              <p style="font-weight: bold;"">For students appearing for ISMO, ISSO, ISEO, ISGKO, ISCO and ISCTO (classes 2 to 11), the awards and recognition are as follows:</p>

                              <ul class="list-group list-group-flush">
  <li class="list-group-item">♦ Top 15% students will be awarded with a Merit Certificate.</li>
  <li class="list-group-item">♦ 5% students will be awarded with a Gold/Silver/Bronze Medal (based on their State or Country rank) and a Merit Certificate.</li>
  <li class="list-group-item"> ♦ 3 students (registered through school) from every school with more than 25 students in a class appearing for an Olympiad exam will be awarded with Gold, Silver and Bronze Medals, and a Merit Certificate.</li>
  <li class="list-group-item">♦ Overall Top 3 students from classes 2-11 will be awarded with Scholars Trophy and Merit Certificate.</li>
  <li class="list-group-item">♦ Every participant will be awarded a digital participation certificate. This will be available in the dashboard of the participant.</li>
</ul>
<!-- 
<p>For students appearing for UMO, USO and UEO (class 1), the awards and recognition are as follows:</p>


<ul class="list-group list-group-flush">
  <li class="list-group-item">♦ All students scoring more than 60% will be sent a Merit Certificate and a Medal.</li>
  <li class="list-group-item">♦ Every participant will be awarded a digital participation certificate. This will be available in the dashboard of the participant.</li>
  <li class="list-group-item">♦ No ranks will be declared for all the students.</li>
</ul> -->
</div>
</div>
                          <div>

                            <div class="container">
                              <!-- <p style="font-weight:bold;"> Awards And Recognition</p> -->
                          
<p style="padding-top: 20px;font-weight: bold">For students appearing for ISMO, ISSO and ISEO (class 1), the awards and recognition are as follows:</p>


<ul class="list-group list-group-flush">
  <li class="list-group-item">♦ All students scoring more than 60% will be sent a Merit Certificate and a Medal.</li>
  <li class="list-group-item">♦ Every participant will be awarded a digital participation certificate. This will be available in the dashboard of the participant.</li>
  <li class="list-group-item">♦ No ranks will be declared for all the students.</li>
</ul>

</div>
</div>
 <div>

                            <div class="container">
                              <!-- <p style="font-weight:bold;"> Awards And Recognition</p> -->
                          
<p style="padding-top: 20px;">All the awards will be delivered to the participant's school (in case the student has registered through school) or home address (in case of individual registration) provided by the participant at the time of registration. International Student Olympiad Foundation  will not be responsible for non-delivery of the awards due to incorrect or insufficient address.</p>

</div>
                                
                            </div>
                        </div>
                        </section>
{% endblock %}