{% extends 'base.html' %}
{% load static %}
{% block body %}
                      <!-- hero -->
                      <div class="container-fluid p-0" >
                        <div class="site-content" style="height: 400px; background-image: url({% static 'Stock/career_bg.jpg' %});">
                          <div class="d-flex justify-content-center" >
                            <div class="d-flex flex-column" style="padding-top: 80px">
                              <h1 class="site-title  justify-content-center" style="text-align: center;">Career
                              </h1>
                              <p class="site-desc"></p>

                            </div>

                          </div>
                        </div>
                      </div>
                      <!-- Hero End -->
                      <div class="container">
                    <div class="career">
                        <center>
                            <h3>Careers with Interational Students Olympiad Foundation</h3>
                            <p>We aim to reach unparalleled levels of success and our determined and dedicated team help in achieving the same. Work with us for the best opportunities, outcome and goal development. Our hardworking, goal-oriented and self- motivated team ensures the best quality of work and is determined not to disappoint.</p>
                        </center>
                    
                    </div>
                    {% comment %}
                    <div class="c-table">
                    <div class="table-head career-head c-head">
                        <div class="col-md-1 career-block">
                            <center>Profile</center>
                        </div>
                        <div class="col-md-1 career-block">
                            <center>No. of vacancies</center>
                        </div>
                        <div class="col-md-2 career-block">
                            <center>Qualifications</center>
                        </div>
                        <div class="col-md-1 career-block">
                            <center>Skills</center>
                        </div>
                        <div class="col-md-2 career-block">
                            <center>Exp. (years)</center>
                        </div>
                        <div class="col-md-3 career-block">
                            <center>Location</center>
                        </div>
                        <div class="col-md-2 career-block">

                        </div>
                    </div>
                    <div class="career-head">
                        <div class="col-md-1 career-block">
                            <div class="slot-para"><center>Profile : </center></div>
                            <center>
                            Customer Care Executive(Pref. Female Candidate)
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>No. of vacancies : </center></div>
                            <center>
                                10
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para">
                                <center>Qualifications : </center>
                            </div>
                            <center>
                                Graduate from a recognized university with Good Communication Skills
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>Skills : </center></div>
                            <center>
                                MVC,Web Api ,AngularJs, C#.Net ,ASP.Net, Javascript ,JQuery
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para"><center>Exp. (years) : </center></div>
                            <center>
                                1 to 2 Years of experience working in customer support ,CRM profile. Experience with Publishing house would be an advantage
                            </center>
                        </div>
                        <div class="col-md-3  career-block">
                            <center><div class="slot-para">
                                <center>Location : </center>
                            </div></center>
                            <center>
                                Vadodara, Surat, Ahmedabad, Chennai, Madurai, Bangalore, Hyderabad, Mumbai, Raipur, Delhi
                            </center>
                        </div>
                        <div class="col-md-2  career-block" style="padding-top: 20px;">
                            <a href="" class="new-btn">Browse</a>
                            <a href="" class="new-btn">Submit</a>
                        </div>
                    </div>

                    <div class="career-head">
                        <div class="col-md-1 career-block">
                            <div class="slot-para"><center>Profile : </center></div>
                            <center>
                            Customer Care Executive(Pref. Female Candidate)
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>No. of vacancies : </center></div>
                            <center>
                                10
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para">
                                <center>Qualifications : </center>
                            </div>
                            <center>
                                Graduate from a recognized university with Good Communication Skills
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>Skills : </center></div>
                            <center>
                                MVC,Web Api ,AngularJs, C#.Net ,ASP.Net, Javascript ,JQuery
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para"><center>Exp. (years) : </center></div>
                            <center>
                                1 to 2 Years of experience working in customer support ,CRM profile. Experience with Publishing house would be an advantage
                            </center>
                        </div>
                        <div class="col-md-3  career-block">
                            <center><div class="slot-para">
                                <center>Location : </center>
                            </div></center>
                            <center>
                                Vadodara, Surat, Ahmedabad, Chennai, Madurai, Bangalore, Hyderabad, Mumbai, Raipur, Delhi
                            </center>
                        </div>
                        <div class="col-md-2  career-block" style="padding-top: 20px;">
                            <a href="" class="new-btn">Browse</a>
                            <a href="" class="new-btn">Submit</a>
                        </div>
                    </div>
                    <div class="career-head">
                        <div class="col-md-1 career-block">
                            <div class="slot-para"><center>Profile : </center></div>
                            <center>
                            Customer Care Executive(Pref. Female Candidate)
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>No. of vacancies : </center></div>
                            <center>
                                10
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para">
                                <center>Qualifications : </center>
                            </div>
                            <center>
                                Graduate from a recognized university with Good Communication Skills
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>Skills : </center></div>
                            <center>
                                MVC,Web Api ,AngularJs, C#.Net ,ASP.Net, Javascript ,JQuery
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para"><center>Exp. (years) : </center></div>
                            <center>
                                1 to 2 Years of experience working in customer support ,CRM profile. Experience with Publishing house would be an advantage
                            </center>
                        </div>
                        <div class="col-md-3  career-block">
                            <center><div class="slot-para">
                                <center>Location : </center>
                            </div></center>
                            <center>
                                Vadodara, Surat, Ahmedabad, Chennai, Madurai, Bangalore, Hyderabad, Mumbai, Raipur, Delhi
                            </center>
                        </div>
                        <div class="col-md-2  career-block" style="padding-top: 20px;">
                            <a href="" class="new-btn">Browse</a>
                            <a href="" class="new-btn">Submit</a>
                        </div>
                    </div>
                    <div class="career-head">
                        <div class="col-md-1 career-block">
                            <div class="slot-para"><center>Profile : </center></div>
                            <center>
                            Customer Care Executive(Pref. Female Candidate)
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>No. of vacancies : </center></div>
                            <center>
                                10
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para">
                                <center>Qualifications : </center>
                            </div>
                            <center>
                                Graduate from a recognized university with Good Communication Skills
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>Skills : </center></div>
                            <center>
                                MVC,Web Api ,AngularJs, C#.Net ,ASP.Net, Javascript ,JQuery
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para"><center>Exp. (years) : </center></div>
                            <center>
                                1 to 2 Years of experience working in customer support ,CRM profile. Experience with Publishing house would be an advantage
                            </center>
                        </div>
                        <div class="col-md-3  career-block">
                            <center><div class="slot-para">
                                <center>Location : </center>
                            </div></center>
                            <center>
                                Vadodara, Surat, Ahmedabad, Chennai, Madurai, Bangalore, Hyderabad, Mumbai, Raipur, Delhi
                            </center>
                        </div>
                        <div class="col-md-2  career-block" style="padding-top: 20px;">
                            <a href="" class="new-btn">Browse</a>
                            <a href="" class="new-btn">Submit</a>
                        </div>
                    </div>
                    <div class="career-head">
                        <div class="col-md-1 career-block">
                            <div class="slot-para"><center>Profile : </center></div>
                            <center>
                            Customer Care Executive(Pref. Female Candidate)
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>No. of vacancies : </center></div>
                            <center>
                                10
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para">
                                <center>Qualifications : </center>
                            </div>
                            <center>
                                Graduate from a recognized university with Good Communication Skills
                            </center>
                        </div>
                        <div class="col-md-1  career-block">
                            <div class="slot-para"><center>Skills : </center></div>
                            <center>
                                MVC,Web Api ,AngularJs, C#.Net ,ASP.Net, Javascript ,JQuery
                            </center>
                        </div>
                        <div class="col-md-2  career-block">
                            <div class="slot-para"><center>Exp. (years) : </center></div>
                            <center>
                                1 to 2 Years of experience working in customer support ,CRM profile. Experience with Publishing house would be an advantage
                            </center>
                        </div>
                        <div class="col-md-3  career-block">
                            <center><div class="slot-para">
                                <center>Location : </center>
                            </div></center>
                            <center>
                                Vadodara, Surat, Ahmedabad, Chennai, Madurai, Bangalore, Hyderabad, Mumbai, Raipur, Delhi
                            </center>
                        </div>
                        <div class="col-md-2  career-block" style="padding-top: 20px;">
                            <a href="" class="new-btn">Browse</a>
                            <a href="" class="new-btn">Submit</a>
                        </div>
                    </div>
                    {% endcomment %}
                      </div>
                    
                <br><br>
{% endblock %}

