{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
{% load static %}
<section style="padding-top: 0; margin-bottom: 0">

  <div id="div_left" class="d-none d-lg-block " >
    <div class="container-fluid p-0">
      <div class="site-content" style="height: 640px;">
        <div class="d-flex justify-content-center" >
          <div class="d-flex flex-column" style="padding-top: 80px">
            <h1 class="site-title" style="text-align: center;">International Olympiad Foundation
            </h1>
            <p class="site-desc"></p>

            <div class="d-flex flex-row" style="display: flex; justify-content: center;">
              <!-- <a href="contact.html" class="btn fancy-btn fancy-active " style="align-content: center;">Login</a> -->
              <button type="button" class="btn fancy-btn fancy-active " data-toggle="modal" data-target="#exampleModalLong">Login</button>

              <!-- Modal -->
              <div class="modal fade bd-example-modal-sm" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="index.html" class="login-form">
                        <div class="txtb">
                          <input type="text" placeholder="Username">
                          <span data-placeholder="Username"></span>
                        </div>

                        <div class="txtb">
                          <input type="password" placeholder="Password">
                          <span data-placeholder="Password"></span>
                        </div>


                        <div class="row px-3 mb-4">
                          <div class="custom-control custom-checkbox custom-control-inline"></div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                        </div>


                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Login</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Hero right -->
  <div class="container-fluid p-0" id="div-right" >
    <div class="site-content" style="height: 640px; ">
      <div class="d-flex justify-content-center" >
        <div class="d-flex flex-column justify-content-left justify-content-md-start d-none d-lg-block" style="padding-top: 60px">
          <div class="container" id="form-group" >
            <ul class="nav nav-tabs" >
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size:20px; padding-left: 4px;padding-right: 4px">Apply Individually</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="regsiter/" style="font-size:20px; border: 1px solid white;padding-left: 4px;padding-right: 4px" >Register Your School</a>
              </li>

            </ul>
            <form>
              <div class="form-group row" style="padding-top: 13px">
                <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-user-circle d-none d-lg-block" style="font-size:30px; color: white; text-align: center;"></i></label>
                <div class="col-sm-10">

                  <input type="password" class="form-control" id="inputStudentName" placeholder="Student Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-cube d-none d-lg-block" style="font-size:30px; color: white; text-align: center;"></i></label>
                <div class="form-group col-md-10">
                  <select id="inputState" class="form-control">
                    <option selected>Select Class</option>
                    <option>Class 1 (2020-2021)</option>
                    <option>Class 2 (2020-2021) / Class 1 (2019-2020)</option>
                    <option>Class 3 (2020-2021) / Class 2 (2019-2020)</option>
                    <option>Class 4 (2020-2021) / Class 3 (2019-2020)</option>
                    <option>Class 5 (2020-2021) / Class 4 (2019-2020) </option>
                    <option>Class 6 (2020-2021) / Class 5 (2019-2020)</option>
                    <option>Class 7 (2020-2021) / Class 6 (2019-2020)</option>
                    <option>Class 8 (2020-2021) / Class 7 (2019-2020)</option>
                    <option>Class 9 (2020-2021) / Class 8 (2019-2020)</option>
                    <option>Class 10 (2020-2021) / Class 9 (2019-2020)</option>
                    <option>Class 11 (2020-2021) / Class 10 (2019-2020) </option>
                  </select>
                </div>

              </div>
              <div class="form-group row" >
                <label  class="col-sm-2 col-form-label"><i class="fa fa-id-card d-none d-lg-block" style="font-size:30px; color: white; text-align: center;"></i></label>
                <div class="col-sm-10">

                  <input class="form-control" id="inputSchoolName" placeholder="School Name">
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-2 col-form-label"><i class="fa fa-envelope d-none d-lg-block" style="font-size:30px; color: white; text-align: center;"></i></label>
                <div class="col-sm-10">

                  <input class="form-control" id="inputEmail" placeholder="E-mail">
                </div>
              </div>
              <div class="form-group row" >
                <label  class="col-sm-2 col-form-label"><i class="fa fa-phone d-none d-lg-block" style="font-size:30px; color: white; text-align: center;"></i></label>
                <div class="col-sm-10">

                  <input class="form-control" id="inputContact" placeholder="Contact Number">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-cube d-none d-lg-block" style="font-size:30px;color: white; text-align: center;"></i></label>
                <div class="form-group col-md-10">
                  <select id="inputState" class="form-control">
                    <option selected>Select Country</option>
                    <option>India (+91)</option>
                    <option>Algeria (+213)</option>
                    <option>Andorra (+376)</option>
                    <option>Angola (+244)</option>
                    <option>Anguilla (+1264)</option>
                    <option>Antigua & Barbuda (+1268)</option>
                    <option>Argentina (+54)</option>
                  </select>
                </div>
                <!--
<div style="text-align:center;"><button type="button" class="btn btn-danger" style=" margin: 0 auto;
  display: block;">Danger</button></div> -->
  <button type="button" class="btn fancy-btn fancy-active " onclick="location.href='profile.html'" style= "margin: 0 auto;
  display: block;">Register</button>

</div>
</form>

</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- =================================================================== -->

<!-- <div class="section-1"> -->
  <section style="background-color:#F7F7F7; text-align: center;">
    <div class="container text-center ">


            <div class="container mt-2" >
              <div class="row">
                <div class="col-12">
                  <div class="section-heading text-center">
                    <h2>Exams We Provide</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-6 item">
                  <div class="card item-card card-block">
                    <img src="{% static 'Stock/stationary.jpg' %}"alt="Photo of sunset" class="rounded-top">

                    <h5 class="card-title  mt-3 mb-3">Science</h5>
                    <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
                    <a href="contact.html" class="btn fancy-btn fancy-active " style="width:100%">Know More</a>

                  </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                  <div class="card item-card card-block">

                    <img src="{% static 'Stock/pen2.jpg' %}" alt="Photo of sunset" class="rounded-top">
                    <h5 class="card-title  mt-3 mb-3">English</h5>
                    <p class="card-text">The fee per subject is Rs. 225 for students studying in India and $10 for international students</p>
                    <a href="contact.html" class="btn fancy-btn fancy-active " style="width:100%">Know More</a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                  <div class="card item-card card-block">
                    <img src="{% static 'Stock/specs.jpg' %}" style="height: 160px" alt="Photo of sunset" class="rounded-top">
                    <h5 class="card-title  mt-3 mb-3">Mathematics</h5>
                    <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
                    <a href="contact.html" class="btn fancy-btn fancy-active " style="width:100%">Know More</a>

                  </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                  <div class="card item-card card-block">

                    <img src="{% static 'Stock/books.jpg' %}" style="height: 160px" alt="Photo of sunset" class="rounded-top">

                    <h5 class="card-title  mt-3 mb-3">General Knowledge</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
                    <a href="contact.html" class="btn fancy-btn fancy-active " style="width:100%">Know More</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="container mt-2">

              <div class="row">
                <div class="col-md-3 col-sm-6 item">
                 <div class="card item-card card-block">
                  <img src="{% static 'Stock/cyber.jpg' %}" style="height: 160px" alt="Photo of sunset" class="rounded-top">
                  <h5 class="card-title  mt-3 mb-3">Cyber</h5>
                  <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
                  <a href="contact.html"  class="btn fancy-btn fancy-active " style="width:100%">Know More</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 item">
               <div class="card item-card card-block">

                <img src="{% static 'Stock/pen.jpg' %}" style="height : 160px" alt="Photo of sunset" class="rounded-top">
                <h5 class="card-title  mt-3 mb-3">Critical Thinking</h5>
                <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
                <a href="contact.html" class="btn fancy-btn fancy-active " style="width:100%">Know More</a>

              </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
              <div class="card item-card card-block">

                <img src="{% static 'Stock/pen2.jpg' %}"alt="Photo of sunset" class="rounded-top">
                <h5 class="card-title  mt-3 mb-3">Awards</h5>
                <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
                <a href="contact.html" class="btn fancy-btn fancy-active " style="width:100%">Know More</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
              <div class="card item-card card-block">

                <img src="{% static 'Stock/stationary.jpg' %}"alt="Photo of sunset" class="rounded-top">
                <h5 class="card-title  mt-3 mb-3">Exam Preparation</h5>
                <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
                <a href="contact.html"  class="btn fancy-btn fancy-active " style="width:100%">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>
    <!-- =========================================================================================================================== -->



    <!--  Demos -->
    <section id="demos" style="padding: 0;  text-align: center;" >
     <div class="container">
      <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            <!-- <div class="item"> -->
              <div class="card item-card card-block">
                <i class="fa fa-file-text" style="font-size:46px; color: #17a2b8; padding: 10px;" alt="Photo of sunset" class="rounded-top"></i>
                <h5 class="card-title  mt-3 mb-3"> Fees and Exam Dates</h5>
                <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
                <a href="contact.html" class="btn btn-info " style="align-content: center;">Know More</a>

              </div>



              <div class="card item-card card-block">

               <i class="fa fa-list" style="font-size:46px; color: #007bff; padding: 10px;" alt="Photo of sunset" class="rounded-top"></i>
               <h5 class="card-title  mt-3 mb-3"> Marking Scheme</h5>
               <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>

               <a href="contact.html" class="btn btn-primary " style="align-content: center;">Know More</a>
             </div><div class="card item-card card-block">

               <i class="fa fa-book" style="font-size:46px; color: #6c757d; padding: 10px;" alt="Photo of sunset" class="rounded-top"></i>
               <h5 class="card-title  mt-3 mb-3"> Syllabus</h5>
               <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>

               <a href="contact.html" class="btn btn-secondary " style="align-content: center;">Know More</a>

             </div><div class="card item-card card-block">

              <i class="fa fa-paperclip" style="font-size:46px; color: #dc3545; padding: 10px;" alt="Photo of sunset" class="rounded-top"></i>
              <h5 class="card-title  mt-3 mb-3">Sample Papers</h5>
              <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
              <a href="contact.html" class="btn btn-danger " style="align-content: center;">Know More</a>
            </div>
            <div class="card item-card card-block">

             <i class="fa fa-list-ol" style="font-size:46px; color: #28a745; padding: 10px;" alt="Photo of sunset" class="rounded-top"></i>
             <h5 class="card-title  mt-3 mb-3">Ranking Criteria</h5>
             <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
             <a href="contact.html" class="btn btn-success " style="align-content: center;">Know More</a>

           </div><div class="card item-card card-block">

            <i class="fa fa-trophy" style="font-size:46px; color: purple; padding: 10px;" alt="Photo of sunset" class="rounded-top"></i>
            <h5 class="card-title  mt-3 mb-3"> Awards</h5>
            <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
            <a href="contact.html" class="btn btn-purple" style="align-content: center;">Know More</a>

          </div>
          <div class="card item-card card-block">

            <i class="fa fa-rocket" style="font-size:46px; color: orange; padding: 10px;" alt="Photo of sunset" class="rounded-top"></i>
            <h5 class="card-title  mt-3 mb-3"> Exam Preparation</h5>
            <p class="card-text">ifsoiwaefijn 0wuw EU ISA Pi isfisfo 0wiefwi0w..</p>
            <a href="contact.html" class="btn btn-orange " style="align-content: center;">Know More</a>

          </div>
          </div>
          </div>
      </div>
        </div>
{% endblock %}
{% block js %}
        <script>
          $(document).ready(function() {
            $('.owl-carousel').owlCarousel({
              loop: true,
              margin: 10,
              responsiveClass: true,
              responsive: {
                0: {
                  items: 1,
                  nav: true
                },
                600: {
                  items: 2,
                  nav: false
                },
                1000: {
                  items: 4,
                  nav: true,
                  loop: false,
                  margin: 20
                }
              }
            })
          })
        </script>
      </div>
    </div>
  </section>
{% endblock %}
  <!-- ***** Footer Area Start ***** -->
