 {% extends 'base.html' %}
{% block title %} Subscriptions {% endblock %}
{% block body %}

<form action="" method="post" class="third" >
    {% csrf_token %}
    <input id="student_email" name="student_email">

    <label for="mathsolym">MATHS OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="mathsolym" name="mathsolym">

    <label for="englisholym">ENGLISH OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="englisholym" name="englisholym">

    <label for="scienceolym">SCIENCE OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="scienceolym" name="scienceolym">

    <label for="cyberolym">CYBER OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="cyberolym" name="cyberolym">

    <label for="reasoningolym">REASONONG OLYMPIAD(150)</label>
    <input type="checkbox" value="True" id="reasoningolym" name="reasoningolym">

    <label for="internationalspell">INTERNATIONAL SPELL BEE(150)</label>
    <input type="checkbox" value="True" id="internationalspell" name="internationalspell">

    <input type="submit" name="submit" value="Submit">
   </form>

 {% endblock %} 
  